@CHARSET "UTF-8";

*{
	margin : 0;
}

body{
	background: #ece8e5;
}

/*Estilo basico*/

/* Apartado clearfix*/

.clearfix:before, .clearfix:after{
	content: " ";
	display : table;
}

.clearfix:after{
	clear : both;
}

.clearfix{
	*zoom: 1;
}


/* Apartado Navegacion */
nav{
	background: #455868;
	border-bottom: 2px solid #283744;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	height: 40px;
	position: relative;
	width: 100%;
}

nav ul{	
	height: 40px;
	margin: 0 auto;
	padding: 0;	
	width: 600px;		
}

nav li{
	display: inline;
	float: left;
}


nav a{
	color: #fff;
	display: inline-block;
	line-height: 40px;	
	text-align: center;
	text-decoration: none;	
	text-shadow: 1px 1px 0px #283744;
	width: 100px;
}

nav li a{
	border-right: 1px solid #576979;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

nav li:last-child a {
	border-right: 0;
}

nav a:hover, nav a:active {
	background-color: #8c99a4;
}

nav a#pull {
	display: none;
}

/* Apartado de estilos para screen 600px y menores*/
@media screen and (max-width: 600px){
	
	nav{
		height: auto;
	}
	
	nav ul{
		display: block;
  		height: auto;
		width: 100%;  		
	}
	
	nav li{		
  		float: left;
  		position: relative;
  		width: 50%;
	}
	
	nav a{
		text-align: left;	  	
	  	text-indent: 25px;
	  	width: 100%;
	}
	
	nav li a{
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
	
}


/*Apartado de estilos para screen 515px y menores*/
@media only screen and (max-width : 480px) {
	
	nav {
		border-bottom: 0;
	}
	
	nav ul {
		display: none;
		height: auto;
	}
	
	nav a#pull {
		background-color: #283744;
		display: block;		
		position: relative;
		width: 100%;
	}
	
	nav a#pull:after {
		background: url('../images/nav-icon.png') no-repeat;
		content:"";		
		display: inline-block;
		height: 30px;
		position: absolute;
		right: 15px;
		top: 10px;
		width: 30px;
	}
}


/* Apartado Smartphone*/
@media only screen and (max-width : 320px) {
	
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	
	nav li a {
		border-bottom: 1px solid #576979;
	}
}

